{% extends "marketing/base.html" %}
{% load static %}
{% block title %}Destinations | {{ brand_full }}{% endblock %}

{% block content %}
<div class="Desti-innersec destimations-three">
  <div class="container">
    <div class="sec-title title-anim centered"><h2 class="sec-title_heading sec-colorr">Destinations</h2></div>
    <div class="row justify-content-center">
      {% for d in destinations %}
      <div class="col-lg-4 col-md-6 d-flex wow fadeInUp">
        <a href="{% url 'destination_detail' d.slug %}" class="single-offer-box">
          <div class="single-offer-thumb">
            <img src="{{ d.card_image|default:d.image }}" alt="{{ d.name }}">
          </div>
          <div class="offer-bottom-title">
            <h4>{{ d.name }}</h4>
            <p>{{ d.teaser }}</p>
            <span>Read More <i class="fas fa-long-arrow-right"></i></span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
