{% extends "marketing/base.html" %}
{% load static %}
{% block title %}Services | {{ brand_full }}{% endblock %}

{% block content %}
<div class="service-main-img">
  <div class="container">
    <div class="sec-title title-anim centered"><h2 class="sec-title_heading sec-colorr">Our Services</h2></div>
  </div>
  <img src="{% static 'ms/uploads/service/s3.jpg' %}" alt="Magic Sands services" width="100%">
</div>

<div class="Service-innersec3">
  <div class="container">
    {% for s in services %}
    <div class="row align-items-center mb-5 wow fadeInUp" id="{{ s.slug }}">
      <div class="col-lg-6{% if forloop.counter|divisibleby:2 %} order-lg-2{% endif %}">
        <img src="{{ s.image }}" alt="{{ s.title }}" width="100%">
      </div>
      <div class="col-lg-6{% if forloop.counter|divisibleby:2 %} order-lg-1{% endif %}">
        <div class="sec-title title-anim"><h2 class="sec-title_heading">{{ s.title }}</h2></div>
        <p>{{ s.text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
