{% extends "marketing/base.html" %}
{% load static %}
{% block title %}Our Testimonials | {{ brand_full }}{% endblock %}

{% block content %}
<div class="Testimonial-innersec">
  <div class="container">
    <div class="sec-title title-anim centered">
      <h2 class="sec-title_heading sec-colorr">Our Testimonials</h2>
    </div>
    <div class="row justify-content-center">
      {% for t in testimonials %}
      <div class="col-lg-6 col-md-6 d-flex wow fadeInUp">
        <div class="testimonial-block_three">
          <div class="testimonial-block_three-inner">
            {% if t.image %}
            <img src="{{ t.image }}" class="tess-img" alt="{{ t.name }}">
            {% endif %}
            <div class="testimonial-block_three-author">
              {{ t.name }} <span>{{ t.role }}</span>
            </div>
            <div class="testimonial-block_three-rating">
              {% for i in "12345" %}
                {% if forloop.counter <= t.rating|default:5 %}<span class="fa fa-star"></span>{% endif %}
              {% endfor %}
            </div>
            <div class="testimonial-block_three-textnew">
              <p>{{ t.quote }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
